@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  body{
    margin: 0;
    padding: 0;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
  }

  ::-webkit-scrollbar {
    width: 2px;
    height: 5px;
  }

  ::-webkit-scrollbar-track {
    background: #fff;
  }

  ::-webkit-scrollbar-thumb {
    background: #ddd;
    border-radius: 50px;
  }

  input:focus {
    outline: none;
    border-color: #aaa !important;
  }

  input::placeholder{
    font-size: 14px;
  }

  #avatar {
    background: linear-gradient(45deg, rgb(255, 230, 0), rgb(255, 0, 128) 80%);
  }
}